@font-face {
    src: url(../fonts/Pushster-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('https://miro.medium.com/max/1400/0*hDAyhnOx767w5qma.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    height: 70px;
    display: flex;
    position: fixed;
}

header div {
    height: 100%;
}

.header-logo {
    width: 200px;
    font-family: 'Pushster', cursive;
    margin-left: 10px;
    color: #fff;
}

.header-logo h1 {
    box-sizing: border-box;
    margin: 2px auto;
}

.header-menu {
    width: 100%;
}

.profile {
    width: 200px;
}

main {
    width: 100%;
}

footer {
    height: 100px;
}